@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dela+Gothic+One&family=Hepta+Slab:wght@1..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Unbounded:wght@200..900&display=swap');

body{
    font-family: "Comfortaa";
}

.main{
    margin-left: 25%;
    margin-right: 25%;
    justify-items: center;
}